extends layout
block content
  .container.wrapper
    .row
      .col-md-10
        input#city-name.form-control.input-lg.text-center(type='text', placeholder='City name')
      .col-md-2
        input#state.form-control.input-lg.text-center(type='text', placeholder='State', maxlength="2")
    br
    button.btn.btn-lg.btn-success.btn-block#get-weather(href='#', role='button') Get Weather Info
    h2#error.alert-danger.text-center
  .container
    .welcome
      h1.welcome-message.text-center Welcome!
        br
        small Enter City Name Above
          br
          small for Current Weather Info!

  .container.main
    .jumbotron
      .row
        .col-md-7.text-center
          h1#city-name-banner
          canvas#icon1(width='128', height='128')
          .weather-forecast
            .day
              h3 Today
              dl.day.dl-horizontal
                dt Humidity:
                dd#humidity
                dt Pressure:
                dd#pressure
                dt Wind Speed:
                dd#wind-speed
                dt Temperature:
                dd#temperature
                dt High:
                dd#high
                dt Low:
                dd#low
        .col-md-5#comments-section
          h2.text-center Comments
          form#comment-form
            ul#comment-list
          input.form-control.text-center#comment-box(type='text', placeholder='Enter a Comment')
          button.btn.btn-primary.btn-block#submit-comment(type="submit") Post
  .container
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/client.js')


