extends layout
block content
  .container
    input#cityName.form-control.input-lg.text-center(type='text', placeholder='City name')
    br
    p#get-weather
      a.btn.btn-lg.btn-success.btn-block(href='#', role='button') Get Weather
  .container.main
    .jumbotron
      .row
        .col-md-7
          h1#cityNameBanner
          canvas#icon1(width='128', height='128')
          .weather-forecast
            .day
              h3 Today
              dl.day.dl-horizontal
                dt Humidity:
                dd#humidity
                dt Pressure:
                dd#pressure
                dt Temperature:
                dd#temperature
                dt High:
                dd#high
                dt Low:
                dd#low
        .col-md-5
          h2 City List
          #cityList
            table
              thead
                th#tableCityName
                th Humidity
                th Delete?
              tbody
          textarea.form-control(rows="2")
          button.btn.btn-primary Post
  .container
    h2#error.alert-danger.text-center
        //- fieldset
        //-   input#cityName(type='text', placeholder='City name')
        //- p#get-weather
        //-   a.btn.btn-lg.btn-success(href='#', role='button') Get Weather
script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(src='http://learn.themakersquare.com/materials/vendor/jquery.riot.js')
script(src='http://learn.themakersquare.com/materials/week-7/weather-icons.js')
script(src='/javascripts/global.js')
script(src='/javascripts/client.js')
