doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src='javascripts/client.js')
  body
    block content
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://learn.themakersquare.com/materials/vendor/jquery.riot.js"></script>
    <script src="http://learn.themakersquare.com/materials/week-7/weather-icons.js"></script>
    <script src='/javascripts/global.js'></script>
