body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#comments-section {
  border-top: 2px dotted black;
}

.container.main {
  /*display: none;*/
}

#error {
  display: none;
}

/*Automatically capitalize city name to prevent multiple entries
for example Austin or austin*/
#cityName {
  text-transform: capitalize;
}

